/* ==========================================================================
   Tiffany Blue skin (formerly Milk Tea)
   ========================================================================== */

/* Colors */
$dark-gray: #0f3b3a !default;
$background-color: #e6f6f4 !default;
$text-color: #0f3b3a !default;
$muted-text-color: mix(#000, $text-color, 20%) !default;
$primary-color: #81d8d0 !default; /* Tiffany Blue */
$border-color: mix(#000, $background-color, 18%) !default;
$code-background-color: mix(#fff, $background-color, 12%) !default;
$code-background-color-dark: mix(#000, $background-color, 12%) !default;
$form-background-color: mix(#fff, $background-color, 10%) !default;
$footer-background-color: #c6ece7 !default;
$link-color: mix(#000, $primary-color, 10%) !default;
$link-color-hover: mix(#fff, $link-color, 18%) !default;
$link-color-visited: mix(#000, $link-color, 16%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 16%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 20%) !default;

/* notices */
$notice-background-mix: 78% !default;

/* Tiffany Blue-inspired syntax highlighting (base16-inspired) */
$base00: #0f3b3a !default;
$base01: #19504d !default;
$base02: #2f6863 !default;
$base03: #417c76 !default;
$base04: #5a968e !default;
$base05: #74aea6 !default;
$base06: #bde4dd !default;
$base07: #e6f6f4 !default;
$base08: #e67c73 !default;
$base09: #f5b971 !default;
$base0a: #f6d88b !default;
$base0b: #6ac59a !default;
$base0c: #61c7c2 !default;
$base0d: #5aa1d8 !default;
$base0e: #9c7bd8 !default;
$base0f: #d18862 !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}
