/* ==========================================================================
   Tiffany Green skin
   ========================================================================== */

/* Colors */
$dark-gray: #0f3a36 !default;
$background-color: #e6f7f2 !default;
$text-color: #12443d !default;
$muted-text-color: mix(#000, $text-color, 20%) !default;
$primary-color: #2ed1b0 !default; /* tiffany green */
$border-color: mix(#000, $background-color, 18%) !default;
$code-background-color: mix(#fff, $background-color, 14%) !default;
$code-background-color-dark: mix(#000, $background-color, 12%) !default;
$form-background-color: mix(#fff, $background-color, 12%) !default;
$footer-background-color: #d4eee7 !default;
$link-color: mix(#000, $primary-color, 8%) !default;
$link-color-hover: mix(#fff, $link-color, 18%) !default;
$link-color-visited: mix(#000, $link-color, 18%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 18%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 22%) !default;

/* notices */
$notice-background-mix: 80% !default;

/* tiffany green syntax highlighting (base16-inspired) */
$base00: #0f3a36 !default;
$base01: #155048 !default;
$base02: #1d6659 !default;
$base03: #267b6b !default;
$base04: #4b9b89 !default;
$base05: #78c4b3 !default;
$base06: #b2e4d9 !default;
$base07: #e6f7f2 !default;
$base08: #d16666 !default;
$base09: #30c3d6 !default;
$base0a: #d5b85a !default;
$base0b: #77b86a !default;
$base0c: #5bb3a4 !default;
$base0d: #5c9ad3 !default;
$base0e: #7b7fd2 !default;
$base0f: #c5865e !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}
