/* ==========================================================================
   Tiffany Green skin
   ========================================================================== */

/* Colors */
$dark-gray: #123c36 !default;
$background-color: #f0fbf8 !default;
$text-color: #19433e !default;
$muted-text-color: mix(#000, $text-color, 20%) !default;
$primary-color: #7fd9cc !default; /* tiffany-inspired green */
$border-color: mix(#000, $background-color, 18%) !default;
$code-background-color: mix(#fff, $background-color, 16%) !default;
$code-background-color-dark: mix(#000, $background-color, 12%) !default;
$form-background-color: mix(#fff, $background-color, 12%) !default;
$footer-background-color: #d9f5ee !default;
$link-color: mix(#000, $primary-color, 8%) !default;
$link-color-hover: mix(#fff, $link-color, 20%) !default;
$link-color-visited: mix(#000, $link-color, 18%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 18%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 24%) !default;

/* notices */
$notice-background-mix: 78% !default;

/* tiffany green syntax highlighting (base16-inspired) */
$base00: #123c36 !default;
$base01: #165147 !default;
$base02: #1d6b5b !default;
$base03: #2b7f6b !default;
$base04: #4b9b89 !default;
$base05: #61b3a3 !default;
$base06: #bde7de !default;
$base07: #f0fbf8 !default;
$base08: #f16f6f !default;
$base09: #7fd9cc !default;
$base0a: #98e6d7 !default;
$base0b: #64c58b !default;
$base0c: #4fc4b1 !default;
$base0d: #53a4e0 !default;
$base0e: #7e8ae6 !default;
$base0f: #d99a5a !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}
